@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #fd9714;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fd9714;
  outline: 0 none;
}

.deadline-date {
    position:  absolute;
    bottom:  20px;
    font-size: 9pt;
}

.input-group-addon {
    background: #f1f1f1;
    padding: 7px;
}

img.profpic {

  width: 101%;
    overflow: hidden;
    display: block;
    height: auto;
    /*margin-top: -8px;*/
}

.image-profpic{
  /* float: left; */
  margin:  auto;
  background: white;
  width: 47px;
  height: 47px;
  float:right;
  /* position: relative; */
  /* border: 2px solid white; */
  /* -webkit-border-radius: 50px; */
  -moz-border-radius: 50px;
  border-radius: 50px;
  overflow:hidden;
}

img.profpic-2 {

  width: 101%;
    overflow: hidden;
    display: block;
    height: auto;
    /*margin-top: -8px;*/
}

.image-profpic-2{
  /* float: left; */
  margin:  auto;
  background: white;
  width: 147px;
  height: 147px;
  /* position: relative; */
  /* border: 2px solid white; */
  /* -webkit-border-radius: 50px; */
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow:hidden;
}

.photo-profile-wrapper{
  overflow: hidden;
}

.step-progress-wrapper{
  max-width: 700px;
  position: absolute;
  z-index: 1;
  overflow:auto;
  top:20px
}

.progressbar{
  counter-reset: step;
  width: 700px
}

.progressbar li{
  float: left;
  position: relative;
  text-align: center;
  list-style: none;
}

.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  display: block;
  width:70px;
  height:70px;
  border: 2px solid #bebebe;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 64px;
  background:white;
  color: #bebebe;
  text-align: center;
  font-size:18pt;
}

.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 35px;
  left: -50%;
  z-index: -1;
}

.progressbar li.active:after{
 background: #3aac5d;
}
.progressbar li.active:before {
border-color: #3aac5d;
background: #3aac5d;
color: white
}


.job-desc{
  margin-top:-146px;
  background: white;
  width: 85%;
  margin-right:auto;
  margin-left: auto;
  padding: 40px;
}

.detail-job-sub {
    float: left;
    display: inline-block;
    margin-right: 40px;
}

.help-block.with-errors {
    color: white;
    font-size:  9pt;
    text-align: center;
    background: #ff5454;
}

.card-header{
  position: relative;
}

.delete-button-header{
  position: absolute;
  right: 9px;
  top: 9px;
}

.job-description{
  margin-top:40px;
  font-size: 12pt;
}

.company-blst{
  font-size: 15pt;
}

.apply-button{
  height: 80px;
  overflow: hidden;
}

.btn-square{
  border-radius: 0px !important;
  border-bottom: 9px solid #ff7600;
  padding: 20px;
}

.btn-square:active{
  border-radius: 0px !important;
  border-bottom: 0px solid #ff7600;
  padding: 20px;

  -ms-transform: translate(0px, 9px); /* IE 9 */
    -webkit-transform: translate(0px, 9px); /* Safari */
    transform: translate(0px, 9px);
}

.header___logo {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  height: 52px;
}

.blst-header{
  height: 73px;
  background-image: linear-gradient(265deg,#fd9714,#f9663a);
  position: sticky;
  padding:10px;
}

.web-label {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 20pt;
}

.header_trigger {
    color:  white;
    font-size: 21pt;
    padding:  10px;
}

.header_trigger:hover {
    color:  white;
    text-decoration: none;
}

.fullscreen-menu {
    display: none;
    height: 95%;
    width: 100%;
    position: fixed; /* Stay in place */
    margin-top: 63px;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-image: linear-gradient(265deg,#fd9714,#f9663a);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.menumobile-content {
    margin:  auto;
    margin-top: 21%;
    width: 230px;
    text-align:center;
    color:white;
}

.regular-header{
  margin-right: 20px;
  margin-top: 6px;
}

.right-header{
  position: absolute;
  right: 5px;
}

@media(max-width:900px){
  .regular-header {
    display: none;
  }
}

@media (min-width:900px) {
  .mobile-trigger{
    display:none;
  }
}

.form-control{
  border-radius: 13px;
}

.fullscreen-background{
  height: 95%;
  width: 100%;
  position: fixed; /* Stay in place */
  margin-top: 63px;
  z-index: -1; /* Sit on top */
  left: 0;
  top: 0;
  background-image: linear-gradient(265deg,#fd9714,#f9663a);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.background-blst{
  background-image: linear-gradient(265deg,#fd9714,#f9663a);
}

.background-grey-gradient{
  background-image: linear-gradient(265deg,#e4e4e4,#cfcfcf);
}

.login-wrapper{
  width: 60%;
  margin: auto;
  margin-top:10%;
  color: white;
  text-align: center;
}

.btn{
  border-radius: 13px;
}

.user-area {
  float: right;
  padding-right: 0;
  padding-left: 10px;
  position: relative; }
  .user-area .user-menu {
    background: #fff;
    border: none;
    font-family: 'Open Sans';
    left: inherit !important;
    right: 0;
    top: 55px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px; }
    .user-area .user-menu .nav-link {
      color: #272c33;
      display: block;
      font-size: 14px;
      line-height: 22px;
      padding: 5px 0; }
  .user-area .user-avatar {
    float: right;
    margin-top: 4px;
    width: 40px; }
  .user-area .user-info .name {
    color: #8c8c8c;
    font-size: 14px;
    position: relative;
    text-transform: uppercase; }
  .user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    right: 10px;
    top:20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.banner-video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-slider-wrapper{
  background: #000;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-top: 0px;
    height: 300px;
    overflow: hidden;
    z-index: -1;
}

.heading-slider-wrapper{
    background: #000;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    padding-bottom:100px;
    margin-top: 0px;
    height: 200px;
    overflow: hidden;
    z-index: -1;
}


.no-padding{
  padding:0;
}

.caption-job-header{
  color:white;
  text-align: center;
  text-transform: uppercase;
}

.padding-right-left{
  padding-right:10px;
  padding-left: 10px;
}

.card-wrapper-job{
    background: white;
    background-size: cover;
    position: relative;
    margin-top:20px;
    margin: 10px;
    height: 222px;
    padding: 20px;
    overflow: hidden;
}

.card-wrapper-job .card-job-title{
  display: block;
  color:#6f6f6f;
  font-weight: 600;
  font-size: 15pt;
  padding-bottom: 10px;
}

.job-time-criteria{
  color:grey;
  font-size:10pt;
  display: block;
}

.card-wrapper-job a{
  position: absolute;
  right:20px;
  bottom:20px;
}


/* Star Rating CSS */
.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #a8a8a8; /* Start color when not clicked */
}

.starrating input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
