.help-block.with-errors {
    color: white;
    font-size:  9pt;
    text-align: center;
    background: #ff5454;
}

.card-header{
  position: relative;
}

.delete-button-header{
  position: absolute;
  right: 9px;
  top: 9px;
}

.header___logo {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  height: 52px;
}

.blst-header{
  height: 73px;
  background-image: linear-gradient(265deg,#fd9714,#f9663a);
  position: relative;
  padding:10px;
}

.web-label {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 20pt;
}

.header_trigger {
    color:  white;
    font-size: 21pt;
    padding:  10px;
}

.header_trigger:hover {
    color:  white;
    text-decoration: none;
}

.fullscreen-menu {
    display: none;
    height: 95%;
    width: 100%;
    position: fixed; /* Stay in place */
    margin-top: 63px;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-image: linear-gradient(265deg,#fd9714,#f9663a);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.menumobile-content {
    margin:  auto;
    margin-top: 21%;
    width: 230px;
    text-align:center;
    color:white;
}

.right-header{
  position: absolute;
  right: 5px;
}

@media(max-width:900px){
  .regular-header {
    display: none;
  }
}

@media (min-width:900px) {
  .mobile-trigger{
    display:none;
  }
}
